/* INICIO CLASES REUTILIZABLES */
* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.img{
  width: 80%;
  margin-left: 30px;
}

/* FÍN CLASES REUTILIZABLES */
.img-1{
  width: 100%;
}

.container-flex-row {
	display: flex;
	justify-content: space-between;
  
}

.container-flex-column {
  display: flex;
	flex-direction:column;
  justify-content: center;
	padding: 2em;
}


.vh100 {
	height: 100vh;
}


.grad10 {
  background: linear-gradient( rgb(129, 20, 124) 65%, rgb(238, 24, 167));
	}

/* GRADIENTE PARA EL INICIO*/
.grad70 {
	background: linear-gradient( rgb(129, 20, 124) 65%, rgb(238, 24, 167));
	}

/* INICIO CLASES REGISTER */
.margin-big{
  margin-top: 35%;
}
/*BACKGRAUND IMG*/
.backgraund-img{
	background-image: url(../assets/img/taxi.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;		
}

.container-a{
	display: flex;
  justify-content: space-between;
}

.container-a a{
  padding: 10px;
  background-color: transparent;
  font-weight: 900;
  font-size: 20px;
  color: rgb(253, 22, 118);
}

.buttons-register {
	padding: 2em;
}
/* FIN VENTANAS REGISTER */
.btn-success {
	padding: 0.5em;
	margin-bottom: 3em;
}



.title {
	padding: 0.5em;
	margin-bottom: 1em;
}

.signup {
 background: green;
}